<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 호스트별 리뷰 -->
<mapper namespace="kr.co.jhta.dao.ReviewDAO">
<!-- 	 <select id="getAll" resultType="ReviewProductDTO">
		SELECT r.p_no, r.rating, r.regdate , r.image, r.contents, p.nickname, p.title
		FROM review as r
			INNER JOIN product as p
			ON r.p_no = p.p_no
			ORDER BY r_no desc
	</select>  -->
	

<!-- 	<select id="getAllR" resultType="ReviewProductDTO">
		SELECT r.r_no, r.regdate, r.contents, p.nickname, p.title
		FROM review as r
			INNER JOIN product as p
			ON r.p_no = p.p_no
			ORDER BY r_no desc
	</select> -->
	
	
<!-- 리뷰작성시 p_no값 넘겨받기 -->
	<select id="getOne" parameterType="int" resultType="ReviewDTO">
		SELECT *
		FROM review
		WHERE p_no = #{p_no}
	</select>
<!-- p_no값 받아와서 내용, 평점값 가져옴 -->
	<insert id="addS" parameterType="StarContentDTO" >
		INSERT INTO review (p_no,contents, regdate, rating)
		VALUES (#{p_no},#{contents}, date_format(now(),'%Y-%m-%d'), #{rating})
	</insert>

<!-- 한페이지당 게시물 10개씩 -->
	<select id="getTotal" resultType="int">
			SELECT COUNT(*)
			FROM review
	</select>

<!-- 현재 보여지는 부분 -->
	<select id="showR" parameterType="StartEnd" resultType="ReviewDTO" >
		SELECT  r_no,r.rating, r.regdate, r.contents, r.p_no, p.nickname, p.title
			FROM (SELECT r_no, rating, date_format(now(), '%Y-%m-%d') regdate, image, contents, p_no
				FROM  review 
				ORDER BY r_no desc) as r
			INNER JOIN product as p
			ON r.p_no = p.p_no
			limit #{startNo}, 10
	</select>
	
<!-- 호스트 리뷰 조회 -->	
	<select id="host" parameterType="int" resultType="ReviewDTO">
		SELECT  r_no,r.rating, r.regdate, r.contents, r.p_no, p.nickname, p.title
		FROM review as r
			INNER JOIN product as p
			ON r.p_no = p.p_no
			WHERE nickname=#{nickname}
			ORDER BY r_no desc
	</select>
</mapper>