<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<head>
<meta charset="UTF-8">
</head>
<body>

	<div id="footer">
		<div class="footer_nav">
			<ul class="footer_nav_ul">
		<li><img id="footer_img" th:src="@{/image/logo/logo.png}" /></li>
				<li><span>Agreement</span></li>
				<li><span><a th:href="@{/privacy}">Privacy</a></span></li>
				<li><span><a th:href="@{/tac}">이용약관</a></span></li>
				<li><span><a th:href="@{/privacy}">개인정보처리방침</a></span></li>
			</ul>
		</div>
		<div class="footer_texts">
			<div class="footer_text">
				<div class="footer_text_info">
					<p>
						<span>상호명 : NewMeet &nbsp; &nbsp; 대표번호 : 1234-5678 &nbsp;&nbsp;</span>
					</p>
					<p>
						<span>대표자 : 3조 </span>
					</p>
					<p>
						<span>주소 : 서울특별시 OO구 12-4길 1004호 </span>
					</p>
					<p>
						<span>Hosting by (주)NewMeet</span>
					</p>
				</div>
			</div>
			<div class="footer_text_copryright">Copyright ⓒ 2022 NewMeet - 소모임 클래스 All rights reserved.</div>
		</div>
	</div>
</body>

</html>