<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="icon" th:href="@{/image/logo/favicon.ico}">
       <title>NewMeet</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="../css/header.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
	<section class="top_menu">

	
		<ul class="menu_group">
		 	<li><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></li> 
 			<li sec:authorize="isAuthenticated()" th:text="${session.usersDTO.nickname}+'님 환영합니다'"></li>
			<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
			<li><a th:href="@{/auth1?username=&password=}">회원가입</a></li>
			<li><a th:href="@{/board/notice}">공지사항</a></li>
			<li><a sec:authorize="hasAnyRole('ROLE_MEMBER','ROLE_ADMIN')" th:href="@{/host}">호스트센터</a></li>
			<li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/manage}">관리자</a></li>
		</ul>
	</section>

	
	<header class="menu">
		<a th:href="@{/main}" class="logo"><img src="../../image/logo/new.gif" /></a>
		<form name="search" class="search_form" action="/main/searchOk" method="get"> <!-- method="post" action="search?title="+ title +> -->
			<div class="menu_search">
				<span class="menu_search_icon"><i class="fas fa-search"></i></span>
				<input type="text" id="search_text" name="title" placeholder="원하시는 뉴밋을 검색해보세요!"/>
			</div>
				<button type="button" value="보내기" onclick="search_name()">검색</button>
		</form>
		
		<ul class="menu_user">
			<li><a th:href="@{/review}"><i class="far fa-edit"></i></a></li>
			<li><a th:href="@{/main}"><i class="far fa-heart"></i></a></li>
			<li><a th:href="@{/mypage}"><i class="far fa-user"></i></a></li>
		</ul>
	</header>

		<script>
			function search_name() {
				if (document.getElementById("search_text").value == "") {
					alert("상품명을 입력해주세요.");
					return false;
				} else
					document.search.submit();
			}
		</script>
</body>

</html>