<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.dao.ProductDetailDAO">
	<select id="getOne" parameterType="int" resultType="ProductDTO">
		SELECT *
		FROM product
		WHERE p_no = #{p_no}
	</select>
	<select id="payOne" parameterType="int" resultType="ProductDTO">
		SELECT *
		FROM product
		WHERE p_no = #{p_no}
	</select>
	<delete id="deletePay" parameterType="int" >
		DELETE FROM orders
  		WHERE pay_no = #{pay_no}
	</delete>
</mapper>

	