<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.jhta.dao.ProductDAO">
	<select id="getAll" resultType="ProductDTO">
		select * from product
	</select>
	
	
	<select id="selectOneMj" parameterType="String" resultType="ProductDTO">
		select * from product where 1=1 
		
			<if test="keyword !=''">
				and title like CONCAT('%',#{keyword},'%')
			</if>
			<if test="from_date !=''">
				and regdate>=#{from_date}
			</if>
			<if test="to_date !=''">
				AND regdate &lt;= #{to_date}
			</if>
			<if test="inspection !='' and inspection == 0">
				and inspection = 0
			</if>	
			<if test="inspection !='' and inspection == 1">
				and inspection = 1
			</if>	
			<if test="inspection !='' and inspection == -1">
				and inspection = -1
			</if>	
	</select>
	
	<select id="selectinspection" parameterType="int" resultType="ProductDTO">
		select * from product where inspection = 0
		
				
	</select>
	
	<insert id="insertOne" parameterType="ProductDTO">
  		insert into product values(0, #{title}, #{contents}, #{regdate}, #{image}, #{detail_image}, #{price}, #{location}, #{person}, #{period}, #{report}, #{hits}, #{cateno}, #{like}, #{level}, #{nickname}, #{inspection} )
  	</insert>
  	
	<!-- 유저당 상품개수조회 -->
	<select id="countProduct" resultType="int" parameterType="String">
		SELECT count(*) FROM product P INNER JOIN users U ON P.nickname=U.nickname where P.nickname = #{nickname}
	</select>
	<!-- 유저당 상품조회수조회 -->
	<select id="countProductReview" resultType="int" parameterType="String">
		select sum(P.hits) FROM product P INNER JOIN users U ON P.nickname=U.nickname where P.nickname = #{nickname}
	</select>
	<!-- 유저당 상품신고수조회 -->
	<select id="countProductReport" resultType="int" parameterType="String">
		select sum(P.report) FROM product P INNER JOIN users U ON P.nickname=U.nickname where P.nickname = #{nickname}
	</select>
	<!-- 유저당 상품평점조회 -->
	<select id="countProductLike" resultType="float" parameterType="String">
		select AVG(P.like) FROM product P INNER JOIN users U ON P.nickname=U.nickname where P.nickname = #{nickname}
	</select>
	<!-- 찜한상품만가져오기 -->
	<select id="selectOneJjim" resultType="ProductDTO" parameterType="String">
  		SELECT * FROM product P INNER JOIN jjim J ON P.p_no=J.p_no where J.nickname = #{nickname};
  	</select>
</mapper>
