<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap')
	;

.cs_wrap {
	margin: 0px auto;
	/* 화면비율유지*/
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.tabs {
	display: block;
	height: 49px;
	padding: 13px 16px 0;
	color: green;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	float: left;
	width: 300px;
}

.notice {
	float: left;
	padding-right: 15px;
}

.title {
	margin: 0px auto;
	font-weight: bolder;
	width: 1000px;
	border-bottom: 4px solid #2596be;
	padding: 20px 0px 36px;
}

.accordion {
	margin: 0px auto;
	height: 1000px;
	width: 1000px;
}

.accordion .nm_box {
	margin-top: 80px;
	margin-bottom: 50px;
}
</style>

<!-- header -->
<th:block layout:fragment="header" th:include="@{/main/header}"></th:block>

</head>
<body>
	<div class="cs_wrap">
		<h4 class="title">newmeet Notice</h4>

		<div class="tab_wrap"></div>

		<div class="accordion" id="accordionExample">
			<div class="nmcs_box">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">고객센터 운영
							시간이 단축</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse "
						aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요.:)<br> 공휴일(1/1) 고객센터 운영 시간이 단축되어 안내드립니다.<br>
							[고객센터 운영 시간 안내]<br> 2023년 1월 1일(일) : 신정<br> - 채팅 상담 :
							카카오톡 채널 뉴밋 <br> - 운영 시간 : 오전 10:00 ~ 오후 1:00<br> 주말,
							공휴일에는 취소 및 결제 문의 등 <br> 일부 문의에 대한 처리가 제한될 수 있는 점 양해 부탁드립니다🙏<br>
							감사합니다.<br> 뉴밋 고객센터 드림<br>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseTwo"
							aria-expanded="false" aria-controls="collapseTwo">국민은행
							결제 서비스 일시중단 안내 [2.12(일)]</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse"
						aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요.<br> 뉴밋 담당자입니다.<br> <br> 국민은행/신한은행 시스템 작업에
							따른 결제 서비스 중단 안내드립니다.<br> <br> 작업시간<br> -국민은행 : 2월
							12일 (일) 01:00~10:00 체크카드 이용불가, 신용카드 안심클릭 인증 불가 <br>-신한은행 :
							2월 12일 (일) 02:00~06:00 체크카드 이용불가, 신용카드 이용 가능 <br> <br>
							*작업 영향에 따라 작업시간이 변동/지연될 수 있습니다. <br> <br> 더욱편리하고 안정적인
							서비스를 제공하는 뉴밋이 되겠습니다.<br> 감사합니다.
						</div>
					</div>
				</div>


				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree">롯데카드
							서비스 일시중단 안내 [2.19(일) 01:30~15:00]</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse"
						aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<br>뉴밋 담당자입니다.<br> <br> 롯데카드 시스템 작업에 따른
							서비스 중단 안내드립니다.<br> <br> 작업시간 : 2023.02.19(일) 01:30 ~
							15:00 <br>작업내용 : 롯데카드 시스템 작업에 따른 서비스 일시중단 <br> <br>*
							작업 시간동안 롯데카드 서비스 일시중단 <br> <br>* 작업 영향에 따라 작업시간이 변동/지연될
							수 있습니다. <br> <br>더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이 되겠습니다. <br>감사합니다.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseFour"
							aria-expanded="false" aria-controls="collapseThree">뉴밋톡
							서비스 종료 안내</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse"
						aria-labelledby="headingFour" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							지난 2021년 3월부터 제공되었던 뉴밋톡 서비스가 2023년 02월 23일(목) 종료될 예정입니다.<br>
							<br> 뉴밋톡 서비스는 크루님과 호스트님 사이의 원활한 소통을 위하여 오픈된 서비스이나 해당 서비스로 인한
							혼선 및 불편이 확인되어 뉴밋톡 서비스 종료를 결정하게 되었습니다. 크루님의 너른 양해 부탁드리며, 자세한 종료 사유
							및 일정은 아래를 확인해 주시기 바랍니다.<br> <br> [ 뉴밋톡 서비스 종료 사유 ] -
							뉴밋톡 외 전화, 문자, 오픈채팅 등 다양한 소통 채널이 존재하여 중복 문의 또는 문의에 대한 미답변으로 혼선/불편
							발생<br> <br> [ 뉴밋톡 서비스 종료 일정 ]<br> - 02월 23일(목) 서비스
							종료<br> - 금일(02/12) 이후 [뉴밋톡] 사용 자제 요청<br> : 금일(02/12) 이후
							호스트와의 소통은 상품 하단의 [1:1문의] 와 알림톡 내 호스트 연락처로 소통해 주시기 바랍니다.<br>
							: 02/23 이후에는 [뉴밋톡] 메뉴가 비활성화되어 이전 채팅방(대화내용) 확인이 불가합니다.<br> :
							보관이 필요한 채팅방(대화내용)이 있으실 경우, 반드시 02/23 이전에 캡쳐 등을 통해 미리 백업해 주시기
							바랍니다.<br> : 02/23 이후에는 뉴밋 고객센터에서도 이전 채팅방(대화내용)을 확인할 수 없습니다.<br>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFive">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseFive"
							aria-expanded="false" aria-controls="collapseFive">뉴밋
							이메일 시스템 점검 안내 [10.22(토) 20:00~10.23(일) 06:00]</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse"
						aria-labelledby="headingFive" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요. <br>뉴밋 담당자입니다. <br>보다 나은 서비스 제공을 위해 아래와 같이 이메일
							시스템 점검이 진행될 예정입니다. <br>해당 점검 시간에는 뉴밋 이메일이 미발송 되오니 고객님의 너그러운
							양해 부탁 드립니다. <br> <br>- 점검 일시 : 2023.02.22(수) 20:00 ~
							02.23(목) 06:00<br> - 점검 내용 : 뉴밋 이메일 시스템 점검 <br>- 점검 영향
							: 시스템 작업 시간 내 이메일 발송 불가 <br> <br>* 서비스 작업 영향에 따라 작업 시간은
							변동 될 수 있습니다. <br> <br>더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이 되겠습니다.<br>
							감사합니다.
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- ------------------------------------------------------------------ -->
			<div class="nmcs_box">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSix">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseSix"
							aria-expanded="true" aria-controls="collapseSix">[변경] 3월
							3일 (금요일) 전사 워크샵으로 인한 휴무 안내</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse "
						aria-labelledby="headingSix" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요. 대원님 :)<br> 뉴밋입니다.<br> <br> 3월 3일 (금) 뉴밋 전
							직원이 대원분들께 더 좋은 경험과 서비스를 제공해드리기 위한 다양한 생각과 의견을 나누는 워크샵이 진행 됩니다.<br>
							이에, 휴무 일정을 안내 드리오니 확인 부탁드립니다.<br> <br>[휴무일정]- 2022년 3월
							3일 (금) 문의는 3월 6일 (월)부터 순차적으로 처리될 예정이니 참고 부탁드립니다.<br> 감사합니다.<br>
							뉴밋 고객센터 드림
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingSeven">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseSeven"
							aria-expanded="false" aria-controls="collapseSeven">개인정보
							처리방침 변경 안내</button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse"
						aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요, 대원님. <br> 뉴밋 고객센터입니다. <br> 항상 뉴밋을 이용해 주셔서 감사드리며,
							개인정보 처리 방침 변경사항은 아래와 같이 일부 변경되어 사전 안내드립니다.<br> 대원님들께서는 변경된
							개인정보 처리 방침 내용을 확인하시고 서비스 이용에 불편을 겪지 않도록 참고하여 주시기 바랍니다. <br>
							<br> ● 개인정보처리 방침 및 위치기반 서비스 이용약관 개정 내용 <br> ○ 개인정보 관리
							책임자 변경의 건 <br> <br> ○ 개정 전 <br> 개인정보 관리 책임자 : 김종광
							<br> 위치정보관리책임자 : 김종광 <br> <br> ○ 개정 후 <br>
							개인정보 관리 책임자 : 양사열 <br> 위치정보관리책임자 : 양사열 <br> <br> 본
							개인정보 처리 방침 변경에 동의하시지 않는 경우,<br> 개인정보 처리 방침 및 위치기반 서비스 이용약관
							적용일자 전일까지<br> 뉴밋 고객센터를 통하여 회사에 거부의사를 표시하고 서비스 이용계약을 해지를 할 수
							있으며,<br> 시행일까지 별도의 거부 의사를 표시하지 않으시는 경우 <br> 변경된 개인정보 처리
							방침 및 위치기반 서비스 이용약관에 동의한 것으로 간주됩니다.


						</div>
					</div>
				</div>


				<div class="accordion-item">
					<h2 class="accordion-header" id="headingEight">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseEight"
							aria-expanded="false" aria-controls="collapseEight">iOS
							최소 지원 버전 업데이트 안내</button>
					</h2>
					<div id="collapseEight" class="accordion-collapse collapse"
						aria-labelledby="headingEight" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요 크루님,<br> 뉴밋입니다.<br> 뉴밋 앱의 iOS 최소 지원 버전을 안정성의 이유로
							iOS 14.5로 업데이트 하려고 합니다.<br> 뉴밋 앱의 원활하고 안정적인 서비스 제공과 높은 보안
							수준을 유지하기 위한 조치로 너그러운 양해를 부탁드립니다.<br> <br> 1. 최소 지원 버전 :
							iOS 14.5<br> 2. 최소 지원 버전 변경일 : 2023년 02월 17일 (금)<br> <br>
							(참고) 기존에 사용하는 기기 환경이 iOS 14.5 미만 버전인 경우 업데이트만 불가하며 이전 버전 서비스는 계속
							사용하실 수 있습니다.<br> <br> 최소 지원 버전 변경 시 iOS 14.5 미만 버전에서는
							iOS 뉴밋 앱을 정상적으로 사용하실 수 없습니다.<br> iOS를 최신 버전으로 업데이트 부탁드립니다.<br>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingNine">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseNine"
							aria-expanded="false" aria-controls="collapseNine">코로나19
							관련 뉴밋 환불 및 운영 변경안내 (2022.03.14)</button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse"
						aria-labelledby="headingNine" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요, 대원님.<br> 뉴밋 고객센터 입니다.<br> 코로나19로 인한 환불 정책이 변경되어
							안내드립니다.<br> 변경되는 정책은 2022.3.21일부터 적용될 예정이니 참고부탁드립니다.<br>
							<br> [코로나19에 의한 환불 정책(여행/숙박 등 특정 상품 제외)]<br> 관련된 내용으로
							증빙자료가 확인될 경우 취소 처리를 진행해드리고 있습니다.<br> <br> [자료항목]<br>
							1. 양성 진단 > 격리가 진행되어 뉴밋 진행일에 참여가 어려운 경우 : 검사 후 발송되는 문자 또는 증빙자료 내역
							첨부 (격리 기간 표기 필수입니다.)<br> 2. 확진자와 밀접 접촉자로 분류된 경우(뉴밋 진행 당일에
							PCR 검사를 해야 하는 경우) : 밀접 접촉자 대상 PCR 검사 요청 문자 내역 첨부<br> - 밀접
							접촉자로 분류되지 않고 신속 항원 검사를 받은 경우에는 적용되지 않습니다.<br> - 가족 확진자인 경우
							가족 관계 증명서를 전달 부탁드립니다. 전달시 주민번호 뒷자리는 미 노출로 전달 부탁드립니다.<br>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTen">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseTen"
							aria-expanded="false" aria-controls="collapseTen">SNS
							이벤트 리워드 지급 유의사항 관련 공지</button>
					</h2>
					<div id="collapseTen" class="accordion-collapse collapse"
						aria-labelledby="headingTen" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							안녕하세요, 대원님 :)<br> 뉴밋 고객센터입니다.<br> 당사에서 진행하는 [인스타그램 등
							SNS 인증 이벤트 관련 유의사항] 안내드립니다.<br>
							<br> 뉴밋에서는 대원님의 SNS 이벤트 참여 시 개인정보활용동의와 함께 SNS 계정을 입력하시도록
							안내해드리고 있습니다.<br>
							<br> 이벤트 참여 여부(인증여부)를 참여시 대원님께서 입력해주신 SNS 계정을 통해 확인하고 있습니다.<br>
							따라서 SNS 계정 오기재, 미기재, 비공개 등으로 인한 이벤트 참여 대상자 제외는 뉴밋에서 책임지지 않습니다.<br>
							이 점 참고 부탁 드리며, 해당 사항으로 인한 리워드 미지급 건에 대해서도 양해 말씀 부탁 드립니다.<br>
							<br> 대원님께 더욱 즐거운 경험을 드릴 수 있도록 최선을 다하겠습니다.<br> 감사합니다.<br>
							뉴밋 고객센터 드림<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<th:block layout:fragment="footer" th:include="@{/main/footer}"></th:block>
</body>
</html>