<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <th:block layout:fragment="content">
                    	<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">관리자페이지</h1>
                        
                    </div>

					
					<br><br>
					
					<!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                
                                <div class="card-body">
                                    <div style="font-size: 40px; font-weight: bold;">안녕하세요! <br><td th:text="${usersDTO.nickname}"></td>님!</div>
                                    <br />
                                    <!-- 관리자버튼 --> 
                                    <!-- <a href="https://frip.notion.site/94c1339b75e2437a9f6cff8e41c006e9" class="btn btn-outline-info" tabindex="-1" role="button" aria-disabled="true">호스트메뉴얼😎</a>
                                    <a href="#" class="btn btn-outline-info" tabindex="-1" role="button" aria-disabled="true">나도 슈퍼호스트!</a> -->
                                </div>
                            </div>

                            

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">공지사항</h6>
                                </div>
                                <div class="card-body">
										<div class="card-body">
											<div class="cs_wrap">

												<div class="tab_wrap"></div>

												<div class="accordion" id="accordionExample">
													<div class="nmcs_box">
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingOne">
																<button class="accordion-button" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse1"
																	aria-expanded="true" aria-controls="collapseOne">고객센터
																	운영 시간이 단축</button>
															</h2>
															<div id="collapse1" class="accordion-collapse collapse "
																aria-labelledby="headingOne"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요.:)<br> 공휴일(1/1) 고객센터 운영 시간이 단축되어 안내드립니다.<br>
																	[고객센터 운영 시간 안내]<br> 2023년 1월 1일(일) : 신정<br> -
																	채팅 상담 : 카카오톡 채널 뉴밋 <br> - 운영 시간 : 오전 10:00 ~ 오후
																	1:00<br> 주말, 공휴일에는 취소 및 결제 문의 등 <br> 일부 문의에
																	대한 처리가 제한될 수 있는 점 양해 부탁드립니다🙏<br> 감사합니다.<br>
																	프립 고객센터 드림<br>
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingTwo">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse2"
																	aria-expanded="false" aria-controls="collapseTwo">씨티/우리은행
																	결제 서비스 일시중단 안내 [11.13(일)]</button>
															</h2>
															<div id="collapse2" class="accordion-collapse collapse"
																aria-labelledby="headingTwo"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요.<br> 뉴밋 담당자입니다.<br> <br> 씨티/우리은행
																	시스템 작업에 따른 결제 서비스 중단 안내드립니다.<br> <br> 작업시간<br>
																	-씨티은행 : 11월 13일 (일) 01:00~10:00 체크카드 이용불가, 신용카드 안심클릭 인증
																	불가 <br>-우리은행 : 11월 13일 (일) 02:00~06:00 체크카드 이용불가,
																	신용카드 이용 가능 <br> <br> *작업 영향에 따라 작업시간이 변동/지연될
																	수 있습니다. <br> <br> 더욱편리하고 안정적인 서비스를 제공하는 뉴밋이
																	되겠습니다.<br> 감사합니다.
																</div>
															</div>
														</div>


														<div class="accordion-item">
															<h2 class="accordion-header" id="headingThree">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse3"
																	aria-expanded="false" aria-controls="collapseThree">롯데카드
																	서비스 일시중단 안내 [11.06(일) 01:30~15:00]</button>
															</h2>
															<div id="collapse3" class="accordion-collapse collapse"
																aria-labelledby="headingThree"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	﻿안녕하세요. <br>뉴밋 담당자입니다.<br> <br> 롯데카드 시스템
																	작업에 따른 서비스 중단 안내드립니다.<br> <br> 작업시간 :
																	2022.11.06(일) 01:30 ~ 15:00 <br>작업내용 : 롯데카드 시스템
																	작업에 따른 서비스 일시중단 <br> <br>* 작업 시간동안 롯데카드 서비스
																	일시중단 <br> <br>* 작업 영향에 따라 작업시간이 변동/지연될 수
																	있습니다. <br> <br>더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이
																	되겠습니다. <br>감사합니다.
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingFour">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse4"
																	aria-expanded="false" aria-controls="collapseThree">주문취소
																	및 배송지 변경 일시 불가 안내 [10/31(월)23:30~03:00]</button>
															</h2>
															<div id="collapse4" class="accordion-collapse collapse"
																aria-labelledby="headingFour"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요.<br> 뉴밋 담당자입니다.<br> 시스템 작업으로 주문취소 및 배송지
																	변경이 일시적으로 불가하여 안내드립니다.<br> - 일시 : 2022년 10월 31일
																	(월) 23:30 ~ 11월 1일 (화) 03:00 <br> - 내용 : 해당 시간 동안
																	주문취소, 배송지 및 배송예정일 변경 불가 <br> <br> 작업 종료 후에는
																	주문취소 및 배송지 변경 가능하여, 새로고침 후 이용 바랍니다. <br> <br>
																	* 서비스 작업 영향에 따라 작업시간은 변동될 수 있습니다. <br> <br>
																	더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이 되겠습니다. <br>감사합니다.
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingFive">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse5"
																	aria-expanded="false" aria-controls="collapseFive">뉴밋
																	이메일 시스템 점검 안내 [10.22(토) 20:00~10.23(일) 06:00]</button>
															</h2>
															<div id="collapse5" class="accordion-collapse collapse"
																aria-labelledby="headingFive"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요. <br>뉴밋 담당자입니다. <br>보다 나은 서비스 제공을 위해
																	아래와 같이 이메일 시스템 점검이 진행될 예정입니다. <br>해당 점검 시간에는 뉴밋
																	이메일이 미발송 되오니 고객님의 너그러운 양해 부탁 드립니다. <br> <br>-
																	점검 일시 : 2022.10.22(토) 20:00 ~ 10.23(일) 06:00<br> -
																	점검 내용 : 뉴밋 이메일 시스템 점검 <br>- 점검 영향 : 시스템 작업 시간 내
																	이메일 발송 불가 <br> <br>* 서비스 작업 영향에 따라 작업 시간은 변동
																	될 수 있습니다. <br> <br>더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이
																	되겠습니다.<br> 감사합니다.
																</div>
															</div>
														</div>
													</div>
													<br>
													<!-- ------------------------------------------------------------------ -->
													<div class="nmcs_box">
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingSix">
																<button class="accordion-button" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse6"
																	aria-expanded="true" aria-controls="collapseSix">고객센터
																	운영 시간이 단축</button>
															</h2>
															<div id="collapse6" class="accordion-collapse collapse "
																aria-labelledby="headingSix"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요.:)<br> 공휴일(1/1) 고객센터 운영 시간이 단축되어 안내드립니다.<br>
																	[고객센터 운영 시간 안내]<br> 2023년 1월 1일(일) : 신정<br> -
																	채팅 상담 : 카카오톡 채널 뉴밋 <br> - 운영 시간 : 오전 10:00 ~ 오후
																	1:00<br> 주말, 공휴일에는 취소 및 결제 문의 등 <br> 일부 문의에
																	대한 처리가 제한될 수 있는 점 양해 부탁드립니다🙏<br> 감사합니다.<br>
																	프립 고객센터 드림<br>
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingSeven">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse7"
																	aria-expanded="false" aria-controls="collapseSeven">씨티/우리은행
																	결제 서비스 일시중단 안내 [11.13(일)]</button>
															</h2>
															<div id="collapse7" class="accordion-collapse collapse"
																aria-labelledby="headingSeven"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요.<br> 뉴밋 담당자입니다.<br> <br> 씨티/우리은행
																	시스템 작업에 따른 결제 서비스 중단 안내드립니다.<br> <br> 작업시간<br>
																	-씨티은행 : 11월 13일 (일) 01:00~10:00 체크카드 이용불가, 신용카드 안심클릭 인증
																	불가 <br>-우리은행 : 11월 13일 (일) 02:00~06:00 체크카드 이용불가,
																	신용카드 이용 가능 <br> <br> *작업 영향에 따라 작업시간이 변동/지연될
																	수 있습니다. <br> <br> 더욱편리하고 안정적인 서비스를 제공하는 뉴밋이
																	되겠습니다.<br> 감사합니다.
																</div>
															</div>
														</div>


														<div class="accordion-item">
															<h2 class="accordion-header" id="headingEight">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse8"
																	aria-expanded="false" aria-controls="collapseEight">롯데카드
																	서비스 일시중단 안내 [11.06(일) 01:30~15:00]</button>
															</h2>
															<div id="collapse8" class="accordion-collapse collapse"
																aria-labelledby="headingEight"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	﻿안녕하세요. <br>뉴밋 담당자입니다.<br> <br> 롯데카드 시스템
																	작업에 따른 서비스 중단 안내드립니다.<br> <br> 작업시간 :
																	2022.11.06(일) 01:30 ~ 15:00 <br>작업내용 : 롯데카드 시스템
																	작업에 따른 서비스 일시중단 <br> <br>* 작업 시간동안 롯데카드 서비스
																	일시중단 <br> <br>* 작업 영향에 따라 작업시간이 변동/지연될 수
																	있습니다. <br> <br>더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이
																	되겠습니다. <br>감사합니다.
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingNine">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapse9"
																	aria-expanded="false" aria-controls="collapseNine">주문취소
																	및 배송지 변경 일시 불가 안내 [10/31(월)23:30~03:00]</button>
															</h2>
															<div id="collapse9" class="accordion-collapse collapse"
																aria-labelledby="headingNine"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요.<br> 뉴밋 담당자입니다.<br> 시스템 작업으로 주문취소 및 배송지
																	변경이 일시적으로 불가하여 안내드립니다.<br> - 일시 : 2022년 10월 31일
																	(월) 23:30 ~ 11월 1일 (화) 03:00 <br> - 내용 : 해당 시간 동안
																	주문취소, 배송지 및 배송예정일 변경 불가 <br> <br> 작업 종료 후에는
																	주문취소 및 배송지 변경 가능하여, 새로고침 후 이용 바랍니다. <br> <br>
																	* 서비스 작업 영향에 따라 작업시간은 변동될 수 있습니다. <br> <br>
																	더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이 되겠습니다. <br>감사합니다.
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h2 class="accordion-header" id="headingTen">
																<button class="accordion-button collapsed" type="button"
																	data-bs-toggle="collapse" data-bs-target="#collapseTen"
																	aria-expanded="false" aria-controls="collapseTen">뉴밋
																	이메일 시스템 점검 안내 [10.22(토) 20:00~10.23(일) 06:00]</button>
															</h2>
															<div id="collapseTen" class="accordion-collapse collapse"
																aria-labelledby="headingTen"
																data-bs-parent="#accordionExample">
																<div class="accordion-body">
																	안녕하세요. <br>뉴밋 담당자입니다. <br>보다 나은 서비스 제공을 위해
																	아래와 같이 이메일 시스템 점검이 진행될 예정입니다. <br>해당 점검 시간에는 뉴밋
																	이메일이 미발송 되오니 고객님의 너그러운 양해 부탁 드립니다. <br> <br>-
																	점검 일시 : 2022.10.22(토) 20:00 ~ 10.23(일) 06:00<br> -
																	점검 내용 : 뉴밋 이메일 시스템 점검 <br>- 점검 영향 : 시스템 작업 시간 내
																	이메일 발송 불가 <br> <br>* 서비스 작업 영향에 따라 작업 시간은 변동
																	될 수 있습니다. <br> <br>더욱 편리하고 안정적인 서비스를 제공하는 뉴밋이
																	되겠습니다.<br> 감사합니다.
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                            </div>


                        </div>
                    </div>








				</div>
            <!-- End of Main Content -->
                    </th:block>
                </div>
                <!-- 공통 하단-->
                <th:block th:replace="fragments/footer :: footerFragment"></th:block>
            </div>
        </div>

        <!-- 공통 스크립트-->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
    </body>
</html>

