<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <th:block layout:fragment="content">
                    	<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">관리자페이지</h1>
                        
                    </div>

					
					<br><br>
					
					<!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                
                                <div class="card-body">
                                    <div style="font-size: 40px; font-weight: bold;">안녕하세요! <br><td th:text="${usersDTO.nickname}"></td>님!</div>
                                    <br />
                                    <!-- 관리자버튼 --> 
                                    <!-- <a href="https://frip.notion.site/94c1339b75e2437a9f6cff8e41c006e9" class="btn btn-outline-info" tabindex="-1" role="button" aria-disabled="true">호스트메뉴얼😎</a>
                                    <a href="#" class="btn btn-outline-info" tabindex="-1" role="button" aria-disabled="true">나도 슈퍼호스트!</a> -->
                                </div>
                            </div>

                            

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">공지사항</h6>
                                </div>
                                <div class="card-body">
                                    <h2>공지사항 게시판 테이블로 넣기</h2>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">매출</h6>
                                </div>
                                <div class="card-body">
                                    <h2>월간매출량</h2>
                                    <h2>전체매출량 나눠서보여주기</h2>
                                </div>
                            </div>

                        </div>
                    </div>








				</div>
            <!-- End of Main Content -->
                    </th:block>
                </div>
                <!-- 공통 하단-->
                <th:block th:replace="fragments/footer :: footerFragment"></th:block>
            </div>
        </div>

        <!-- 공통 스크립트-->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
    </body>
</html>

