<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">	
	
	 
<style>
.jull {
	display: inline-flex;
	width: 100%;
	padding: 10px 20px;
}

.jull1 {
	width: 139px;
	padding-top: 12px;
}

.julltext1 {
	font-weight: 500;
	color: rgb(51, 51, 51);
	line-height: 20px;
}

.jull2 {
	flex: 1 1 0%;
}

.jull2_1 {
	padding-bottom: 0px;
}

.jull2_2 {
	position: relative;
	height: 48px;
}

.jull2_3 {
	width: 100%;
	height: 46px;
	padding: 0px 11px 1px 15px;
	border-radius: 4px;
	border: 1px solid rgb(221, 221, 221);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: rgb(51, 51, 51);
	outline: none;
	box-sizing: border-box;
}

.css-button {
	display: block;
	padding: 0px 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 46px;
	border-radius: 3px;
	color: #5b90f0;
	background-color: rgb(255, 255, 255);
	border: 1px solid #5b90f0;
}

.css-buttondiv {
	width: 100px;
	margin-left: 8px;
}

.css-buttontext {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}

.joinbutton1 {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	border-top: 1px solid rgb(247, 247, 247);
	padding: 40px 0px;
}

.joinbutton1-1 {
	display: block;
	padding: 0px 10px;
	text-align: center;
	overflow: hidden;
	width: 240px;
	height: 56px;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background-color: #5b90f0;
	border: 0px none;
}

.joinbutton1-2 {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}

.container1 {
	min-width: 1050px;
	margin-top: 50px;
	margin-bottom: 60px;
	background-color: rgb(255, 255, 255);
}

.jointitle {
	margin-bottom: 50px;
	font-size: 28px;
	line-height: 35px;
	font-weight: 500;
	text-align: center;
	letter-spacing: -1px;
	color: rgb(51, 51, 51);
}

.container1-1 {
	width: 640px;
	margin: 0px auto;
}

button:active {
position: relative;
top: 2px;
}
button:hover {
background: #154fbb;
}

.separator {
            display: block;
            margin: 30px auto 10px;
            text-align: center;
            height: 40px;
            position: relative;
            background: transparent;
            color: rgba(15, 19, 42, 0.4);
            font-size: 13px;
            width: 90%;
            max-width: 680px;
        }

.separator::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            background: rgba(15, 19, 42, 0.2);
            height: 1px;
            width: 50%;
        }

.separator::after {
            content: "";
            position: absolute;
            top: 8px;
            right: 0;
            background: rgba(15, 19, 42, 0.2);
            height: 1px;
            width: 50%;
        }
</style>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
function checkForm(x){
	    
    var id = document.getElementById("userid").value;
    var regid = /^[a-z]+[a-z0-9]{5,19}$/g;
    var nick = document.getElementById("usernick").value;
    var regnick = /^[\w\Wㄱ-ㅎㅏ-ㅣ가-힣]{2,20}$/;
    var pw = document.getElementById("userpw").value;
    var regpw = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!@#$%^&*()+|=])[A-Za-z\d~!@#$%^&*()+|=]{8,16}$/;
    var repw = document.getElementById("userrepw").value;
    var name = document.getElementById("username").value;
    var regname = /^[가-힣]+$/;
    var male = document.getElementById("usermale").checked;
    var female = document.getElementById("userfemale").checked;
    var phone = document.getElementById("userphone").value;
    var regphone = /^\d{3}-\d{3,4}-\d{4}$/;
    var post = document.getElementById("userpost").value;
    var addr = document.getElementById("useraddr").value;
    var addrdetail = document.getElementById("useraddrdetail").value;
    var yeshost = document.getElementById("useryes").checked;
    var nohost = document.getElementById("userno").checked;
    var agree1 = document.getElementById("agree1");
    var agree2 = document.getElementById("agree2");
    var agree3 = document.getElementById("agree3");
    
    if(id==''){
        alert("아이디를 입력하세요.");
        event.preventDefault();
        return ;
    }else if(!regid.test(id)){
            alert("아이디는 영문으로 시작해 6~20자의 영문자 또는 숫자이어야 합니다.");
            event.preventDefault();
        return ;
    }else if(nick==''){
            alert("닉네임을 입력하세요.");
            event.preventDefault();
        return ;
    }else if(!regnick.test(nick)){
        alert("사용할 수 없는 닉네임입니다.");
        event.preventDefault();
   		return ;
    
	}else if(pw==''){
        alert("비밀번호를 입력하세요.");
        event.preventDefault();
       
        return ;
    }else if(pw.length<=7 || pw.length>=16){
        alert("패스워드의 길이는 8자 이상, 16자리 이하여야 합니다.");
        pw='';
        event.preventDefault();
        return ;
    }else if(!regpw.test(pw)){
        alert("패스워드는 영문과 숫자 및 특수문자를 조합해서 사용해야 합니다.");
        pw='';
        event.preventDefault();
        return ;    
    }else if(repw==''){
        alert("비밀번호확인란을 입력하세요.");
        event.preventDefault();
        return ;
    }else if(pw!=repw){
        alert("비밀번호가 일치하지 않습니다.");
        pw='';
        repw='';
        event.preventDefault();
        return ;    
    }else if(name==''){
        alert("이름을 입력하세요.");
        event.preventDefault();
        return ;
    }else if(!regname.test(name)){
        alert("이름은 한글로 입력하세요.");
        event.preventDefault();
        return ;
    }else if(!male && !female){
        alert("성별을 선택하세요.");
        event.preventDefault();
        return ;
    
    }else if(phone==''){
        alert("연락처를 입력하세요.");
        event.preventDefault();
        return ;
    }else if(!regphone.test(phone)){
        alert("연락처를 다시한번 확인해주세요.");
        phone="";
        event.preventDefault();
        return ;
    }else if(post==''){
        alert("주소를 입력하세요");
        event.preventDefault();
        return ;
    }else if(addr==''){
        alert("주소를 입력하세요");
        event.preventDefault();
        return ;
    }else if(addrdetail==''){
        alert("주소를 입력하세요");
        event.preventDefault();
        return ;
    }else if(!yeshost && !nohost){
        alert("호스트 지원여부를 선택하세요.");
        event.preventDefault();
        return ;
    }else if(!agree1.checked){
        alert("약관 동의를 체크하세요.");
        event.preventDefault();
        return ;
    }else if(!agree2.checked){
        alert("약관 동의를 체크하세요.");
        event.preventDefault();
        return ;
    }else if(!agree3.checked){
        alert("약관 동의를 체크하세요.");
        event.preventDefault();
        return ;
    }else{
    	alert("가입 축하드립니다");
    	return true;
    }
    
}

	function cancle(){
		location.href="/";
	}
	
	function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('userpost').value = data.zonecode;
                document.getElementById('useraddr').value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("useraddrdetail").focus();
            }
        }).open();
    }
	
	
	
$(function(){
	
	
	function validationCheck(data){
		var userid = $('#userid').val();
		var regid = /^[a-z]+[a-z0-9]{5,19}$/g;
		if(typeof data == 'undefined' || data == '' || data == null || !regid.test(userid)){
			alert("입력칸이 비었거나 영문으로 시작해 6~20자의 영문자 또는 숫자이어야 합니다 ")
			return false;
		}
		return true;
	}
	
	$('#btncheck').on("click",function(){
		var userid = $('#userid').val();
		var Check = validationCheck(userid);
		if(Check){
			$.ajax({
				 url: '/user/idcheck'
				,type: 'POST'
				,data: {'userid' : userid}
				,dataType: 'JSON'
				,success: function(data){
					console.log(data);
					if(data == true){
						alert("사용가능한 아이디입니다.");
						$('#usernick').prop('disabled', false);
						$('#btncheck2').prop('disabled', false);
					}else {
						alert("이미 사용중인 아이디입니다.");
						$('#joinForm input').not('#userid').prop('disabled', true);
						$('#joinForm button').not('#btncheck').prop('disabled', true);
						$('#joinForm select').prop('disabled', true);
					}
					//아이디 칸 제외 전부 비활성화
					//아이디 중복 안되면 + 활성화
					//아이디 중복 발생하면 + 비활성화 유지
				}
			});
		}
	});
	
	
	function validationCheck2(data){
		var usernick = $('#usernick').val();
		var regnick = /^[\w\Wㄱ-ㅎㅏ-ㅣ가-힣]{2,20}$/;
		if(typeof data == 'undefined' || data == '' || data == null || !regnick.test(usernick)){
			alert("입력칸이 비었거나 사용할 수 없는 닉네임입니다 ")
			return false;
		}
		return true;
	}
	
	
	$('#btncheck2').on("click",function(){
		var usernick = $('#usernick').val();
		var Check = validationCheck2(usernick);
		if(Check){
			$.ajax({
				 url: '/user/nickcheck'
				,type: 'POST'
				,data: {'usernick' : usernick}
				,dataType: 'JSON'
				,success: function(data){
					console.log(data);
					if(data == true){
						alert("사용가능한 닉네임입니다.");
						$('input, select, button').prop('disabled', false);
					}else {
						alert("이미 사용중인 닉네임입니다.");
						$('#joinForm input').not('#userid').not('#usernick').prop('disabled', true);
						$('#joinForm button').not('#btncheck').not('#btncheck2').prop('disabled', true);
						$('#joinForm select').prop('disabled', true);
						
					}
					
				}
			});
		}
	});
		
	/* function validationCheck3(data){
		var userphone = $('#userphone').val();
		var regphone = /^\d{3}-\d{3,4}-\d{4}$/;
		if(typeof data == 'undefined' || data == '' || data == null || !regphone.test(userphone)){
			alert("연락처를 확인해주세요 ")
			return false;
		}
		return true;
	} */
	
	
	/* $('#btncheck3').on("click",function(){
		var userphone = $('#userphone').val();
		var Check = validationCheck3(userphone);
		if(Check){
			$.ajax({
				 url: '/user/phonecheck'
				,type: 'POST'
				,data: {'userphone' : userphone}
				,dataType: 'JSON'
				,success: function(data){
					console.log(data);
					if(data == true){
						alert("확인됐습니다.");
						$('#userphone').attr('readonly',true);
						$('#joinbtn').prop('disabled', false);
					}else {
						alert("이미 존재하는 연락처입니다 ");
						$('#joinbtn').prop('disabled', true);
					}
					
				}
			});
		}
	}); */
	
	$("#btncheck3").click(function(){
		var phone = $("#userphone").val();
		var regphone = /^\d{3}-\d{3,4}-\d{4}$/;
		if(typeof phone == 'undefined' || phone == '' || phone == null || !regphone.test(phone)){
			alert("연락처를 확인해주세요 ")
			return false;
		}
		
		$.ajax({
	        type:"GET",
	        url:"/phoneCheck?phone="+phone,
	        cache : false,
	        success:function(data){
	        	if(data == "error"){
	        		alert("휴대폰 번호가 올바르지 않습니다.")
					$("#userphone").attr("autofocus",true);
	        	}else{
	        		
	        		alert("인증번호가 발송되었습니다. 인증번호를 입력해주세요.")
	        		$("#btnphonecheck3").attr("disabled",false);
					$("#inputCertifiedNumber").attr("disabled",false);
	        		$("#userphone").attr("readonly",true);
	        		code2 = data;
	        	}
	        }
	    });
	});
	
	$("#btnphonecheck3").click(function(){
		if($("#inputCertifiedNumber").val() == code2){
			alert("인증번호가 일치합니다.");
			$("#inputCertifiedNumber").attr("disabled",true);
			$("#btnphonecheck3").attr("disabled",true);
			$("#btncheck3").attr("disabled",true);
			$("#joinbtn").attr("disabled",false);
		}else{
			alert("인증번호가 일치하지 않습니다.");
			$(this).attr("autofocus",true);
		}
	});

	
});


</script>
<th:block layout:fragment="header" th:include="@{/main/header}"></th:block>
</head>
<body>
	
	<div class="container1" style="position: relative; right: 100px; ">
		<div class="jointitle" style="color: #5b90f0;">회원가입</div>
		<div class="separator"></div>
		<div class="container1-1">
			
			<div style="padding: 0px; width: 620px;">
				<form th:action="@{/login/signupOk}" method="post" id="joinForm" th:object="${usersDTO}">
				<div class="jull">
					<div class="jull1">
						<label class="julltext1">아이디</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="userid" name="id"
									placeholder="아이디를 입력해주세요" type="text" required="" autofocus="autofocus"
									class="jull2_3" value="">
							</div>
						</div>
					</div>
					<div class="css-buttondiv">
						<button class="css-button" type="button" id="btncheck" >
							<span class="css-buttontext">중복확인</span>
						</button>
						
					</div>
				</div>

				
					<div class="jull">
						<div class="jull1">
							<label class="julltext1">닉네임</label>
						</div>
						<div class="jull2">
							<div class="jull2_1">
								<div class="jull2_2">
									<input data-testid="input-box" id="usernick" name="nickname"
										placeholder="닉네임을 입력해주세요" type="text" required="" autofocus="autofocus"
										class="jull2_3" value="" disabled>
								</div>
							</div>
						</div>
						<div class="css-buttondiv">
							<button class="css-button" type="button" id="btncheck2" >
								<span class="css-buttontext" disabled>중복확인</span>
							</button>
							
						</div>
					</div>

				<div class="jull">
					<div class="jull1">
						<label class="julltext1">비밀번호</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="userpw" name="pw"
									placeholder="비밀번호를 입력해주세요" type="password" required
									class="jull2_3" value="" disabled>
							</div>
						</div>
					</div>
				</div>




				<div class="jull">
					<div class="jull1">
						<label class="julltext1">비밀번호 확인</label> 
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="userrepw" name="userrepw"
									placeholder="한번 더 입력해주세요" type="password" required
									class="jull2_3" value="" disabled>
							</div>
						</div>
					</div>
				</div>


				<div class="jull">
					<div class="jull1">
						<label class="julltext1">이름</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="username" name="name"
									placeholder="이름을 입력해주세요" type="text" required
									class="jull2_3" value="" disabled maxlength="4">
							</div>
						</div>
					</div>
				</div>

				<div class="jull">
					<div class="jull1">
						<label class="julltext1">성별</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2" style="margin-top: 12px;">
								<input type="radio" name="gender" id="usermale" value="M" required disabled>남 <input
									type="radio" name="gender" id="userfemale" value="W" required
									style="margin-left: 15px;" disabled>여
							</div>
						</div>
					</div>
				</div>

				<div class="jull">
					<div class="jull1">
						<label class="julltext1">연락처</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="userphone" name="phone"
									placeholder="-를 포함해 입력하세요. ex)010-1234-5678" type="text" required
									class="jull2_3" value="" maxlength="14" disabled>
							</div>
						</div>
					</div>
					<div class="css-buttondiv">
						<button class="css-button" type="button" id="btncheck3" disabled>
							<span class="css-buttontext" >발송</span>
						</button>
					</div>
				</div>
				
				<div class="jull">
					<div class="jull1">
						<label class="julltext1">인증란</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="inputCertifiedNumber" name=""
									placeholder="발송받은 인증번호를 입력해주세요." type="text" required
									class="jull2_3" value="" maxlength="6" disabled>
							</div>
						</div>
					</div>
					<div class="css-buttondiv">
						<button class="css-button" type="button" id="btnphonecheck3" disabled>
							<span class="css-buttontext" >인증</span>
						</button>
					</div>
				</div>
				
				<div class="jull">
					<div class="jull1">
						<label class="julltext1">주소</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="userpost" name="post"
									placeholder="우편번호" type="text" class="jull2_3" required
									value="" style="width: 300px;" disabled>
							</div>
						</div>
					</div>
					<div class="css-buttondiv">
						<button class="css-button" type="button" onclick="execDaumPostcode()" disabled>
							<span class="css-buttontext">검색</span>
						</button>
					</div>

				</div>

				<div class="jull2_1">
					<div class="jull2_2">
						<input data-testid="input-box" id="useraddr" name="addrs"
							 placeholder="주소를 검색해주세요" type="text" required
							class="jull2_3" style="width: 370px; margin-left: 160px;"
							value="" disabled>
					</div>
				</div>
				
				<div class="jull2_1">
					<div class="jull2_2">
						<input data-testid="input-box" id="useraddrdetail" name="useraddrdetail"
							placeholder="상세주소를 입력해주세요" type="text" required
							class="jull2_3" style="width: 370px; margin-left: 160px;"
							value="" disabled>
					</div>
				</div>
				
				<div class="jull2_1">
					<div class="jull2_2">
						<input data-testid="input-box" id="sample6_extraAddress" name="sample6_extraAddress"
							placeholder="참고항목" type="text" 
							class="jull2_3" style="width: 370px; margin-left: 160px;"
							value="" disabled>
					</div>
				</div>

				<div class="jull">
					<div class="jull1">
						<label class="julltext1">이메일</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2">
								<input data-testid="input-box" id="useremail" name="email"
									 type="text" required readonly="readonly" 
									class="jull2_3" th:value="${email}">
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="jull">
					<div class="jull1">
						<label class="julltext1">호스트 지원</label>
					</div>
					<div class="jull2">
						<div class="jull2_1">
							<div class="jull2_2" style="margin-top: 12px;">
								<input type="radio" name="grade" id="useryes" value="ROLE_MEMBER" required disabled>예 <input
									type="radio" name="grade" id="userno" value="ROLE_USER" required
									style="margin-left: 15px;" disabled>아니오
							</div>
						</div>
					</div>
				</div>
				
				<br>
				
				<div class="separator"></div>

				<div>


					<h2 style="font-weight: bold; font-family: 'Do Hyeon', sans-serif; position: relative; margin-bottom: 35px; margin-top: -20px" >본인확인 약관</h2>
				
				<div class="jull" style="border: 1px solid #5b90f0;">
					<div class="jull2">
						<div class="jull2_1">
							<span class="jull2_2"
								style="margin-top: 20px; font-size: 20px; font-weight: bold; font-family: 'Do Hyeon', sans-serif;">
								<i class="xi-arrow-right" onclick="window.open('/tac')"></i> 이용약관 필수 동의
							</span> <span style="float: right;"> 
								<input type="radio" name="agree1" value="" id="agree1" required disabled>동의합니다
							</span>
						</div>
					</div>
				</div>
				<br> <br>


				<div class="jull" style="border: 1px solid #5b90f0;">

					<div class="jull2">
						<div class="jull2_1">
							<span class="jull2_2"
								style="margin-top: 20px; font-size: 20px; font-weight: bold; font-family: 'Do Hyeon', sans-serif;">
								<i class="xi-arrow-right" onclick="window.open('/privacy')"></i> 개인정보 처리방침 필수 동의 
							</span> 
							<span style="float: right;"> 
									<input type="radio" name="agree2" value="" id="agree2" required disabled>동의합니다
							</span>
						</div>
					</div>
				</div>
				<br> <br>

				<div class="jull" style="border: 1px solid #5b90f0;">

					<div class="jull2">
						<div class="jull2_1">
							<span class="jull2_2"
								style="margin-top: 20px; font-size: 20px; font-weight: bold; font-family: 'Do Hyeon', sans-serif;">
								<i class="xi-arrow-right" onclick="window.open('/locationService')"></i> 위치기반 서비스 약관 필수 동의 
							</span> 
							<span style="float: right;"> 
								<input type="radio" name="agree3" value="" id="agree3" required disabled>동의합니다
							</span>
						</div>
					</div>
				</div>
				<br> <br>

				
			</div>

				<div class="joinbutton1">
					<button class="joinbutton1-1" type="submit" width="240" height="56"
						radius="3" onclick="checkForm(this);" id="joinbtn" disabled="disabled">
						<span class="joinbutton1-2">가입하기</span>
					</button>&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="joinbutton1-1" type="button" width="240" height="56"
						radius="3" onclick="cancle();">
						<span class="joinbutton1-2">취소하기</span>
					</button>
				</div>

				</form>
			</div>
		</div>
	</div>
	<th:block layout:fragment="footer" th:include="@{/main/footer}"></th:block>
</body>
</html>