<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	crossorigin="anonymous"></script>
	<style>
		p,ul {
			color: grey;
			font-size: smaller;
		}
	</style>
	<th:block layout:fragment="header" th:include="@{/main/header}"></th:block>
</head>
<body>
	<div class="container">
	<h2 style="font-weight: bold; padding-top: 100px;">이용약관</h2>
	<br>

	
	<span style="color: grey;">
		이용약관
	</span>
	
	<br>
	<br>
	<p>
	 제1조 (목적) 
	 <br>이 약관은 주식회사 프렌트립(이하 “회사”라 함)가 운영하는 컴퓨터 등 정보통신설비를 이용하여 용역
	등을 거래할 수 있도록 설정하여 제공하는 가상의 영업장(이하 “사이트”라 함)을 통하여 제공하는 인터넷 전자상거래 관련
	서비스(이하 “서비스”라 함)와 관련하여 회사와 회원의 권리, 의무, 책임사항을 규정함을 목적으로 합니다. 또한 본 약관은
	유무선 PC통신, 스마트폰(아이폰, 안드로이드폰 등) 어플리케이션 및 모바일 웹 등을 이용하는 전자상거래 등에 대해서도 그
	성질에 반하지 않는 한 준용됩니다.
	</p>
	<br>
	<p>
 제2조 (용어의 정의) 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
	<ul>
  <li> 1. 회사가 운영하는 사이트(향후 추가되거나 변경될 수 있음): frip.co.kr. 외 회사에서 공지하고 서비스를 제공하는 매체로서 기타
	웹사이트 및 모바일 어플리케이션 및 모바일 웹 등을 포함합니다. </li>
  <li> 2. 서비스: 회사가 운영하는 사이트를 통하여 회원(이하에서 	정의됨) 상호간에 액티비티 등(이하에서 정의됨)의 거래가 이루어질 수 있도록 사이버 거래장소를 온라인으로 제공하는 중개 서비스
	및 관련 부가서비스 일체와, 액티비티(이하에서 정의됨)의 결제가 안전하고 편리하게 이루어질 수 있는 결제대금 보호서비스를
	말합니다. </li>
  <li> 3. 회원: 회사에 개인정보를 제공하여 회원 등록을 한 자로서, 회사의 정보를 지속적으로 제공받으며, 이 약관에 따라
	회사와 서비스 이용계약을 체결한 자를 말하며, 이하에서 정의되는 이용자와 호스트를 통칭합니다. </li>
  <li> 4. 액티비티 등: 회원 간에 거래되는 상품 또는 용역(교육, 활동, 강습, 행사) 또는 회사가 제공하는 상품 등을 총칭합니다. 
	5. 호스트: 영리의 목적여부를 불문하고 사이트에서 액티비티 등을 판매하거나 판매하고자 하는 회원을 의미합니다. </li>
  <li> 6. 이용자: 사이트에서 액티비티 등을 이용하거나 이용하고자 하는 회원을 의미합니다. </li>
  <li> 7. 에너지: 이용자가 유상으로 결제하여 충전하거나, 회사로부터 적립 받아 사이트에서 상품 구매, 서비스 이용 등에 사용할 수 있는 전자적 지급수단을 말합니다 이 약관에서 정의되지 않은 용어는 관련법령이
	정하는 바에 따르며, 그 외에는 일반적인 상거래 관행에 의합니다. </li>
	</ul>
		 
	</p>
	<br>
	<p>
	제3조 (약관의 명시, 효력과 개정)
	<ul>
		<li>1. 회사는 이 약관의 내용을 회사의 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처 등과 함께 회원이 확인할 수 있도록 사이트 초기
	서비스 화면(전면)에 게시합니다. 다만, 이 약관의 구체적 내용은 연결화면을 통하여 볼 수 있습니다. </li>
		<li>2. 회사는 약관의 규제에
	관한 법률, 전자문서 및 전자거래기본법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의
	소비자보호에 관한 법률, 전자금융거래법, 위치정보의 보호 및 이용 등에 관한 법률 등 관련법을 위배하지 않는 범위에서 본 약관을
	개정할 수 있습니다. </li>
		<li> 3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이트 초기화면에
	최소 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 회원의 권리, 의무에 중대한 영향을 주는 변경이 이루어질
	경우에는 적용일자 30일 이전부터 공지합니다. </li>
		<li>4. 제3항에 따라 공지된 적용일자 이후에 회원이 회사의 서비스를 계속 이용하는
	경우에는 개정된 약관에 동의하는 것으로 간주합니다. 개정된 약관에 동의하지 아니하는 회원은 언제든지 자유롭게 서비스 이용계약을
	해지할 수 있습니다. </li>
		<li>5. 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 관련법령 또는 상관례에 따릅니다. </li>
	</ul> 
	 </p>   
	<br>
	<p>
	제4조	(이용계약의 성립)
	<ul>
	<li>1. 이용계약은 회원의 약관 동의, 이용신청, 회사의 승낙에 의하여 성립합니다. </li>	
	<li> 2. 이용계약은 관련법령에 의거 만14세 미만의 회원 가입이 제한됩니다.</li> 
	</ul>
	</p>
	<br>
	<p>
	제5조 (이용신청 및 승낙) 
	<ul>
	<li>1. 회원은 회사가 정한 가입 양식에 따라 회원정보를 기입한 후 가입 의사를 표시함으로써 이용계약을 신청합니다.</li>
	<li> 2. 회사는 다음 각 호에 해당하는 이용신청에 대하여는 이를 승낙하지 아니하거나 사후에 이용계약을 해지할 수 있습니다.</li>
	
	 (1) 이미 가입된 회원과 이메일 주소가 동일한 경우 
	 <br>
	 (2) 타인의 명의 내지
	개인정보를 도용하거나, 등록 내용에 허위, 기재누락, 오기가 있는 경우
	<br> 
	(3) 회사에 의하여 이용계약이 해지된 날로부터 3개월 이내에 재이용을 신청하는 경우
	<br>
	 (4) 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우(회원자격 상실 후 3개월이
	경과한 자로서 회사의 회원 재이용 승낙을 얻은 경우에는 예외)
	<br>
	 (5) 부정한 용도 또는 영리를 추구할 목적으로 본 서비스를
	이용하고자 하는 경우
	<br>
	 (6) 이 약관 또는 관련 법령을 위반한 경우 
	 <br>
	 (7) 이전에 동일∙유사한 아이디 또는 다른 아이디를 통하여 부정한 사용을 한 이력이 있거나 의심되는 경우 
	<br>
	(8) 관련법령에 위배되거나 사회의 안녕질서 혹은 미풍양속을 저해할 수 있는
	목적으로 신청한 경우 
	<br>
	(9) 회사의 서비스 운영에 따른 설비에 여유가 없거나, 기술 상 지장이 발생하였거나 발생할 가능성이 있는
	경우 
	<br>
	(10) 만14세 미만의 아동이 법정대리인(부모 등)의 동의를 얻지 아니한 이용신청을 하는 경우 
	<br>
	(11) 회원이 회사나
	다른 회원, 기타 타인의 권리나 명예, 신용, 기타 정당한 이익을 침해하는 행위를 한 경우 
	<br>
	(12) 회사가 제공하는 각 약관
	내지 관련 법령에 위배되거나 위배될 가능성이 있는 부당한 이용신청임이 확인된 경우 
	<br>
	(13) 기타 회원과의 계속적 거래관계를 지속하기 어렵다고 합리적으로 판단되는 경우 
	<li>3. 전항 제5호에 따라 부정한 용도 또는 영리를 추구할 목적으로 본 서비스를 이용하였거나, 제7호에 따라 부정한 사용을 한 이력이 있는 경우 해당 위반사유가 발생한 시점에 제7조 제1항에 따른 해지의
	의사표시가 있었던 것으로 보아 계약이 자동종료 됩니다.</li>
	 </ul>
	 </p>
	 <br>
	 <p>
	 제6조 (회원정보의 수정)
	 <br>
	  회원은 이용신청 시 작성한 이용신청 사항에 변경이 있는 경우, 온라인으로 개인정보를 수정하거나 이메일, 전화, 팩스 등의 방법으로 회사에 그 변경사항을 알려야 합니다.
	이를 알리지 않아 발생하는 불이익에 대한 모든 책임은 회원에게 있으며, 회사는 이에 대한 책임을 지지 않습니다.
	</p>
	<br>
	<p>
	 제7조 (이용계약의 종료) 
	 <ul>
	 <li>
	 1. 회원의 해지
	 </li>
	  (1) 회원은 언제든지 회사에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다.
	  <br>
	(2) 이용계약은 회사가 회원의 해지의사를 받아 해지 처리하는 시점에 종료됩니다. 
	<br>(3) 본 항에 따라 해지를 한 회원은 이 약관이 정하는 회원가입절차와 관련조항에 위반되지 않는 경우 회원으로 다시 가입할 수 있습니다.
	<li> 2. 회사의 해지 </li>
	(1) 회사는 회원에게 제5조 2항에서 정하고 있는 이용계약의 해지사유가 있는 경우 회원과의 이용계약을 해지할 수 있습니다.
	<br> (2) 회사는 해당 회원에게 14일 이내의 기간을 정하여 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다. 
	 </ul>
	 </p>
	 <br>
	 <p>
	 제8조 (이용제한 등)
	<ul>
	<li>1. 회사는 회원이 다음 각 호의 사유에 해당하는 경우 경고 조치를 통해 시정을 요구하고, 지체 없이 하자가 치유되지 않는 경우
	호스트에 대한 위반사항 게시, 일시정지 또는 영구이용정지 등으로 서비스의 이용을 단계적으로 제한할 수 있습니다. 다만, 아래
	제3호 내지 제10호의 경우에는 회복할 수 없는 손해를 방지하기 위하여 회원에 대한 별도 경고 없이 즉시 일시정지 조치를 할 수
	있으며, 중대한 범죄와 관련된다고 판단되는 경우 민형사상 조치와 함께 회원자격의 영구이용정지 조치를 통해 서비스 이용을 제한할
	수 있습니다.
	</li>
	 (1) 가입 신청 시 허위 내용을 등록한 경우 
	 <br>
	 (2) 물품 또는 서비스에 대한 대금 결제, 기타 서비스 이용과
	관련하여 회원이 부담하는 채무를 기일에 이행하지 않는 경우 
	<br>(3) 타인의 서비스 이용을 방해하거나 정보를 도용하는 등 전자상거래 질서를 위협하는 경우 
	<br>(4) 회사를 이용하여 법령과 이 약관이 금지하거나 공공질서, 미풍양속에 반하는 행위를 하는 경우 
	<br>(5) 회원이 구매한 물품을 고의로 훼손한 후 교환, 환불 등의 보상을 요구한 사실이 확인되는 경우 
	<br>(6) 회원이 물품 또는 서비스 구매 시 결제 정보를 임의로 조작하여 정상 결제가격보다 못 미치는 금액을 결제한 경우 
	<br>(7) 회원이 제15조의2 제5항, 제6항을 위반 한 경우 
	<br>(8) 회원이 회사 시스템이나 서비스를 경유하지 않고 직접 거래할 목적으로 회원 간에 개인정보, 연락처 등(전화번호, 이메일, 메신저, SNS ID 등을 포함하되 이에 한정되지 아니함)를 교환하거나, 호스트의 액티비티 등
	소개페이지, 게시판, 후기, 이미지/영상, 리뷰, 문의란 등에 위 개인정보, 연락처 등을 기재하거나 기재하도록 유도하는 경우
	<br>(9) 이용자가 회사 시스템이나 서비스를 경유하지 않고 호스트에게 액티비티 등의 대가를 직접 지급한 경우 
	<br>(10) 호스트에게 액티비티 등과 관련 없거나 불쾌한 언어사용, 비정상적인 행위 등을 한 것에 대하여 신고가 접수된 경우
	<br>(11) 고객센터 문의 및 전화 상담 내용이 욕설, 폭언, 성희롱, 반복 민원을 통한 업무방해 등에 해당하는 경우 
	
	<li>2. 회사는 전항에도 불구하고 저작권법,정보통신망 이용촉진 및 정보보호 등에 관한 법률, 여신전문금융업법 등 기타 현행법령을 위반한 명의도용 및 결제정보 도용, 불법
	통신 및 해킹, 악성프로그램의 배포, 접속권한 초과, 신용카드 부정거래 등의 경우에 즉시 영구이용정지를 할 수 있습니다. </li>
	<li>3. 회원은 본조에 따른 이용제한의 경우 고객센터를 통하여 소명자료를 구비하여 이의를 제기할 수 있습니다. 회사가 회원의 이의제기 및 소명이 충분하다고 판단하는 경우 서비스 이용을 즉시 재개할 수 있습니다.</li>
	<li>4. 본조에 따른 영구이용정지 시 제15조의 4 제1항에 의하여 적립된 에너지 및 기타 혜택 등도 모두 소멸되며, 회사는 이에 대해 별도로 보상하지 않습니다.</li> 
	<li>5. 회사는 1년 이상 서비스를 이용하지 않는 회원의 개인정보를 별도로 분리 보관하여 관리하며, 구체적인 파기 등 절차에 대하여는 개인정보 보호법
	등 해당 시점에 유효하게 적용되는 법령의 절차에 따릅니다. </li>
	 </ul>
	</p>
	<br>
	<p>	
	제9조 (회원의 이메일 및 비밀번호에 대한 의무) 
	<ul>
	<li>1. 회원은 자신의 이메일과 비밀번호에 관한 관리책임이 있으며 이를 소홀히 하여 발생한 모든 민형〮사상의 책임은 회사의 고의 또는 중과실이 없는 한
	회원 자신에게 있습니다. 회원은 자신의 이메일 및 비밀번호를 제3자에게 알려주어서는 안되며, 회원이 이메일과 비밀번호를
	제3자에게 알려줌으로써 발생한 손해에 대해서 회사는 책임을 지지 않습니다. 이메일과 비밀번호가 회원의 의사에 반하여 유출되거나
	기타의 사정으로 제3자가 사용하고 있음을 인지한 경우 즉시 비밀번호를 변경하여야 하고, 회사에 통보한 다음 회사의 안내를 따라야
	합니다. 이를 소홀히 하여 발생한 모든 책임은 회원이 집니다. </li>
	<li>2. 회원은 자신의 이메일 및 비밀번호를 제3자에게 이용하게
	해서는 안됩니다. 3. 회원이 자신의 이메일 및 비밀번호를 도난 당하거나 제3자가 이용하고 있음을 인지한 경우에는 즉시 회사에
	통보하고, 회사의 조치가 있는 경우에는 그에 따라야 합니다. </li>
	<li>4. 회원이 제3항에 따른 통지를 하지 않거나 회사의 조치에 응하지
	아니하여 발생하는 모든 불이익에 대한 책임은 회원에게 있습니다.</li>
	</ul>
	</p>
	<br>
	<p> 
	제10조 (면책 조항) 
	<ul>
	
	<li>
	1. 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 회원에게 서비스를
	제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다. </li>
	<li>2. 회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여
	책임을 지지 않습니다. </li>
	<li>3. 회사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의
	서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다. </li>
	<li>4. 회사는 회원이 게재한 정보, 자료, 사실의 신뢰도,
	정확성 등 내용에 관해서는 책임을 지지 않습니다. </li>
	<li>5. 회사는 회원간 또는 회원과 제3자 상호간에 서비스를 매개로 하여 거래
	등을 한 경우에는 책임을 지지 않습니다. </li>
	<li>6. 회원이 발송한 메일 내용에 대한 법적인 책임은 회원에게 있습니다.</li>
	<li> 7. 회사가 통신판매중개업자로서 회원들에게 제공하는 서비스는 온라인 거래장소(marketplace)를 제공하거나 안전한 결제 수단을 제공하고
	기타 부가정보를 제공함에 그치는 것이므로 중개서비스를 통하여 이루어지는 회원 상호간의 거래와 관련된 서비스 판매진행의 관리,
	의뢰인에 대한 거래이행, 서비스발송, 청약철회 또는 반품, 취소요청으로 인한 분쟁해결 등 필요한 사후처리는 거래당사자인 회원들이
	직접 수행하여야 합니다. 회사는 회사의 고의 또는 중과실이 없는 한 이에 대하여 관여하지 않으며 어떠한 책임도 부담하지
	않습니다. </li>
	<li>8. 단, 회사는 회원 간 또는 회원과 제3자 간 분쟁이 발발했음을 양 당사자 중 한 명 이상으로부터 통보를 받을
	경우 전자상거래법에 의거 원만한 분쟁해결 지원을 위해 거래 및 양자의 사이트상 계정에 개입 혹은 기타 분쟁해결에 필요하다고
	판단되는 모든 조치(거래금액 동결, 계정정지 등)를 취할 수 있으며, 이 조치는 분쟁이 해결되는 시점까지 지속될 수 있습니다.
	단, 회사에서 회원 간 또는 회원과 제3자 간 자체적으로 분쟁 해결이 어렵다고 판단되는 경우 회사는 하기의 외부기관들에 분쟁건을
	이관할 수 있으며, 이관된 시점 이후부터는 분쟁조정권고 등 이관된 기관의 의견을 신뢰하며 이를 기준으로 분쟁관련 업무를
	처리합니다.</li> 
	<br>- 대한상사중재원 ( http://www.kcab.or.kr/intro.jsp ) 
	<br>- 한국소비자원 (	http://www.kca.go.kr/ )
	<br>- 한국공정거래조정원 ( http://www.kofair.or.kr/goMain.do )
	<br>- 정보통신산업진흥원 전자문서·전자거래분쟁조정위원회 ( http://www.ecmc.or.kr )
	<br>- 한국콘텐츠진흥원 콘텐츠분쟁조정위원회 (https://www.kcdrc.kr/) 
	</ul>
	</p>
	<br>
	<p>
	제11조 (분쟁 해결 및 통지) 
	<ul>
	<li>1. 회사는 이용자가 제기하는
	정당한 의견이나 불만을 반영하고 그 피해를 보상처리 하기 위해서 피해보상처리 기구를 설치, 운영합니다. </li>
	<li>2. 회사는 이용자로부터
	제출되는 불만사항 및 의견을 지체 없이 처리하고자 최선을 다하여야 합니다. 다만 신속한 처리가 곤란한 경우에는 이용자에게 그
	사유와 처리 일정을 통보합니다.</li>
	<li> 3. 회사는 불특정다수 회원에 대한 통지의 경우, 7일 이상 사이트에 게시함으로써 개별 통지에
	갈음할 수 있습니다. 다만, 제7조를 포함하여 회원 본인의 거래에 관하여 중대한 영향을 미치는 사항에 대하여는 개별 통지함을
	원칙으로 합니다.
	</li>
	</ul>
	</p>
	<br>
	<p>
	 제12조 (계약의 해제, 해지 손해배상 등 각종 책임)
	 <ul>
	 <li> 1. 회원 또는 회사 중 일방이 본 약관에 명시된
	사항을 위반하는 경우 상대방은 상당한 기간을 정하여 상대방에게 위반사항을 시정할 것을 요구할 수 있으며, 시정 요구에도 불구하고
	위반사항을 시정하지 아니하면 서면(전자문서, 이메일을 포함하며, 이하 같다)으로 계약을 해지할 수 있습니다. </li>
	<li>2. 회사와 회원은
	상대방이 주요 자산에 대한 압류 등 강제집행, 거래정지 또는 회생 및 파산신청 등으로 인해 정상적으로 계약 이행을 할 수 없을
	경우 계약을 즉시 해지할 수 있습니다.</li>
	<li> 3. 일방의 귀책사유로 본 계약을 위반하여 발생한 손해에 대하여 상대방은 배상 책임을
	부담합니다.</li>
	<li> 4. 회원이 본 약관 등의 위반 행위와 관련하여 각종 관련 법규(행정, 형사, 공정거래 관련 법률 등)를 위반함이
	밝혀진 경우, 본 조에 따른 손해배상 외의 형사절차(고발, 고소 등)를 진행할 수 있으며, 회원은 위반 행위로 인한 제3자의
	손해(예: 참가자의 개인정보 유출, 명예훼손 등)에 대해서도 책임을 집니다. </li>
	</ul>
	</p>
	<br>
	<p>
	제13조 (준거법 및 관할법원) 
	<ul>
	<li>1. 이 약관의 해석 및 회사와 회원간의 분쟁에 대하여는 대한민국의 법령을 적용합니다. </li>
	<li>2. 서비스 이용 중 발생한 회원과 회사간의 소송은
	민사소송법에 의한 관할법원에 제소합니다.
	</li>
	</ul>
	</p>
	<br>
	<p>
	[부칙] 제1조 (시행일자) 2019년 3월 15일부터 시행됩니다.
	<br>
	[부칙](2020년 5월 7일 개정) 개정약관은 2020년 5월 7일부터 시행됩니다. 
	</p>
	</div>
	<th:block layout:fragment="footer" th:include="@{/main/footer}"></th:block>
</body>
</html>